.container{
    height: 500px;
    width: 500px;
    background-color: green;
border: 3px solid red;
display: flex;
}
.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid orange;
    /*transition: 2s;*/
    /*transition-property:all;tranistion property all use jo  bhi property .box:hover me hogi sb par apply krna chahete h*/
  
    background-color: aqua;
  /*  transition-property:background-color;
    transition-delay: 5s;*/
/*transition:all 5s ease 1s ;*/
transform: transform 3s ease-in ;
}
.box:hover{
    /*background-color: brown;
transform: rotate(45deg);*/
transform: translateX(500px);
}
